@import url("./styles/loader.css");
@import url("./styles/w3.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}
.w3-row-padding img {
  margin-bottom: 12px;
}
/* Set the width of the sidebar to 120px */
.w3-sidebar {
  width: 120px;
  background: #222;
}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {
  margin-left: 120px;
}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {
  #main {
    margin-left: 0;
  }
}

.annotation {
  transform: translate3d(calc(50%), calc(-50%), 0);
  text-align: left;
  background: #181c20;
  color: #8c92a4;
  padding: 10px 15px;
  border-radius: 5px;
  user-select: none;
  font-family: var(--leva-fonts-mono);
  font-size: 17px;
}

.annotation::before {
  content: "";
  position: absolute;
  top: 20px;
  left: -30px;
  height: 2px;
  width: 30px;
  background: crimson;
}

.productCard {
  width: 30rem;
  margin: auto !important ;
  /* display: contents; */
  background: radial-gradient(#000000, transparent) !important;
  height: 100%;
}

.canvasStore {
  margin: auto;
  width: 200px;
  height: 200px;
}

.canvasStore canvas {
  border-radius: 200px 200px 100px 100px !important;
  height: 500px;
  border: 3px solid #0000ff;
  padding-bottom: 50px;
}
